<%= error_messages_for 'todo_list' %>

<% remote_form_for(@todo_list) do |f| %>
    <%= f.text_field(:name) %>
    <button value="submit" type="submit">Create List</button>
    <%= link_to_remote('Cancel', :update => 'add_todo_list', :url => { :controller => 'todo_lists', :action => 'cancel'}) %>
<% end %>