<div id="toDoLists">
  <h2>Your to-do lists:</h2>
  <ul>
    <% @todo_lists.each do |todo_list| %>
      <li<%= (@todo_list.id == todo_list.id) ? ' class="current"' : '' %>><%= link_to(todo_list.name, todolist_path(todo_list)) %></li>
    <% end %>
  </ul>
  <%= render :partial => 'todo_lists/add_todo_list' %>
</div>