/* @override 
	http://localhost:3000/stylesheets/simplydo.css?1234010634
	http://localhost:3000/stylesheets/simplydo.css?1234014440
*/

body {
  font-family: arial, sans-serif;
  font-size: 0.9em;
  margin:0px;
  padding:0px;
  background-color: #DDD;
}

a {
	color: #0591ce;
}

#wrap {
	width:740px;
	margin:0px auto;

}

#listInterface {
		position:relative;
		margin-top:3em;
		background-color:#EEE;
		padding:10px;
}

#toDos {
	float:left;
	width:500px;
	background-color:#FFF;
}


#toDoLists {
	float:left;
	width:180px;
	margin-left:20px;
}

#toDoLists h2 {
	margin: 0px 0px 0.5em 0px;
	font-size: 1em;
}

#toDoLists ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#toDoLists li {
	clear: left;
}

#toDoLists li a {
	padding: 0.2em 0.4em;
	margin-bottom: 0.3em;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#toDoLists li.current a, #toDoLists li.current a:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}

#toDoLists ul a:hover {
	background-color: #edf5ff;
}

form#new_todo_list {
  margin: 0px;
  padding: 0px;
}

input#todo_list_name {
  	width: 175px;
  	font-size: 1em;
  	padding: 0.2em;
}

#toDoLists button {
  	font-size: 1.1em;
  	padding: 0.2em 0.3em;
  	margin-right: 1em;
}

#add_todo_list {
  clear: left;
  margin-top: 1em;
}

#addListLink {
 	background-color: #0591ce;
 	padding: 0.3em 0.8em;
 	color: #FFF;
 	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.noToDos {
	font-size:2em;
	text-align:center;
	padding:3m 0px;
	font-weight:bold;
	color:#CCC;
}

#closedToDos {
	border-top:3px dashed #DDD;
}


.clearThis {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 1px;
}