/* @override 
	http://localhost:3000/stylesheets/simplydo.css?1234010634
	http://localhost:3000/stylesheets/simplydo.css?1234014440
	http://localhost:3000/stylesheets/simplydo.css?1234029793
	http://localhost:3000/stylesheets/simplydo.css?1234032769
	http://localhost:3000/stylesheets/simplydo.css?1234032853
*/

body {
  font-family: arial, sans-serif;
  font-size: 0.9em;
  margin:0px;
  padding:0px;
  background-color: #EEE;
}

a {
	color: #0591ce;
}

#wrap {
	width:740px;
	margin:0px auto;

}

#listInterface {
		position:relative;
		margin-top:3em;
}

#toDos {
	float:left;
	width:500px;
}

#toDos h1 {
	margin:0px;
	font-size: 1.2em;
	padding: 1.2em 1.2em 0.8em 1.2em;
	background-color: #78a700;
	color: #FFF;
		-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#navigation {
  text-align: right;
  background-color: #FFF;
  padding: 0.5em 0.8em;
  margin: 0px;
			-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;  
}

#navigation a#logo {
  float: left;
  font-weight: bold;
  margin-left: 0px;
  text-decoration: none;
  color: #78a700;
}

#navigation a {
  margin-left: 1em;
}

#toDos ul {
	list-style: none;
	margin: 0px;
	padding:1em 0px;
	background-color: #FFF;

}

ul#openToDos {
  	min-height: 150px;
}

#new_todo {
  padding: 0.5em;
  margin: 0px;
  background-color: #fffaad;
  border-bottom: 1px solid #f5e80e;
  border-top: 1px solid #496500;
}

#listOptions {
	padding: 0.5em 1em;
	text-align: right;
	font-size: 0.9em;
	background-color: #FFF;
			-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

input#todo_title {
  font-size: 1.1em;
  padding: 0.2em;
}


#new_todo button {
  font-size: 1.1em;
  padding: 0.2em 0.4em;
}

#toDos li {
	padding:0.5em 1em;
	font-size: 1.2em;
	clear: left;
}

.tickBox {
	float: left;
}

p.title {
  margin: 0px 0px 0px 1.5em;
}

#closedToDos p.title {
  color: #AAA;
  text-decoration: line-through;
}


#toDoLists {
	float:left;
	width:180px;
	margin-left:20px;
	padding-top: 1em;
}

#toDoLists h2 {
  margin: 0px;
  font-size: 1em;
  color: #AAA;
  margin-bottom: 0.3em;
}

#toDoLists ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#toDoLists li {
	clear: left;
}

#toDoLists li a {
	padding: 0.2em 0.3em;
	margin: 0.3em 0px 0.3em -0.3em;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#toDoLists li.current a, #toDoLists li.current a:hover {
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}

#toDoLists ul a:hover {
	background-color: #FFF;
}

form#new_todo_list {
  margin: 0px;
  padding: 0px;
}

input#todo_list_name {
  	width: 175px;
  	font-size: 1em;
  	padding: 0.2em;
}

#toDoLists button {
  	font-size: 1.1em;
  	padding: 0.2em 0.3em;
  	margin-right: 1em;
}

#add_todo_list {
  clear: left;
  padding-top: 1.5em;
}

#addListLink {
	font-weight: bold;
}

.noToDos {
	font-size:1.3em;
	text-align:center;
	padding:2em 0px;
	font-weight:bold;
	color:#DDD;
}

#closedToDosContainer {
	border-top:2px dashed #DDD;
  background-color: #FFF;
}


.clearThis {
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 1px;
}



#frontPage {
  background-color: #FFF;
  margin: 2em 0px;
  padding: 0px 0px 2em 0px;
  text-align: center;
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


#frontPage p {
    font-size: 1.3em;
    color: #666;
    margin: 0.5em;
}

#header {
  background-color: #78a700;
  padding: 3em 1em 2em 1em;
  margin-bottom: 3em;
    -moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}


#header h1 {
  font-size: 2em;
  color: #FFF;
  margin: 0px;
}

#frontPage  #getStarted {
  margin: 3.5em 1em 2em 1em;
}

#getStarted a {
	background-color: #0591ce;
	color: #FFF;
	font-weight: bold;
	padding: 0.8em 1.5em;
	font-size: 1.2em;
	  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}