<h1>Welcome to SimplyDo.com</h1>
<p>Less management - more getting stuff done.</p>
<p>Already registred? <a href="#">Sign in</a> (to be revealed with js).</p>
<p>or <%= link_to('Start creating your first to-do list', :controller => 'todos') %></p>
