<div id="frontPage">
  <div id="header">
    <h1>SimplyDo.com</h1>
  </div>
  <p><%= @page_title = "Easy to use, everyday To-Do lists" %>.</p>
  <p>Try it today - No sign up required!</p>
  <p id="getStarted"><%= link_to('Create your first to-do list', :controller => 'todos') %></p>
  <p>Already registered? <%= link_to('Sign in here', signup_path()) %>.
</div>