<li id="<%= "todo#{todo.id}" %>">
  
  <%= check_box('delete', '', :class => "tickBox", :onclick => remote_function( :url => { :action => "close", :id => todo.id })) %>
  <p class="title"><%= todo.title %></p>
</li>