<div id="toDoLists">
  <ul>
    <% @todo_lists.each do |todo_list| %>
      <li><%= todo_list.name %>
    <% end %>
    <%= render :partial => 'todo_lists/add_todo_list' %>
  </ul>
</div>

<div id="toDos">
  <ul>
    <% if @todos.size == 0 %>
      List empty!
    <% else  %>
      <% @todos.each do |todo| %>
        <li><%= todo.title %></li>
      <% end %>
    <% end %>
  </ul>
</div>
