<div class="teamMember">
  <%= link_to "<img src=\"/images/team/alex.png\" alt=\"alex\" width=\"120px\" height=\"120px\" />", "http://plasticshore.com", :class => "teamMemberPhoto" %>
  <div class="teamMemberProfile">
    <h2>Alexander Kohlhofer</h2>
    <p>Wants you to get stuff done.</p>
    <ul>
      <li><%= link_to "Twitter", "http://twitter.com/kohlhofer", :class => "twitterLink" %></li>
      <li><%= link_to "Home", "http://plasticshore.com", :class => "homeLink" %></li>
    </ul>
  </div>    
</div>
