<div class="teamMember">
  <%= link_to "<img src=\"/images/team/johnny.png\" alt=\"daniel\" width=\"120px\" height=\"120px\" />", "http://twitter.com/steiniman", :class => "teamMemberPhoto" %>
  <div class="teamMemberProfile">
    <h2>Daniel Steiner</h2>
    <p>Loves to code.</p>
    <ul>
      <li><%= link_to "Twitter", "http://twitter.com/steiniman", :class => "twitterLink" %></li>
    </ul>
  </div>    
</div>
